# Frequently Asked Questions: A simple "How To" for common questions when working with cancer data in dataframes in the cptac package

A large portion of this package utilizes the functionality of pandas dataframes. Here we give a few specific instances of using dataframes with our package. For a more general overview of dataframes, see pandas <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html">documentation</a> and <a href="https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python">tutorials</a>.

## How do I install the package?

Install the package from the <a href="https://pypi.org/project/cptac/">Python Package Index (PyPI)</a> using the <a href="https://pypi.org/project/pip/">pip package installer</a>, with the name of the package:

<code>pip install cptac</code>

## How do I import the package once it has been installed?

The cptac package has several cancer data sets. First import the entire package by entering the following:

<code>import cptac</code>

(Once the package has loaded, a message will display the package version, as well as instructions for viewing specific data sets.)

Then, to access a specific data set (i.e. Endometrial data) and its functionalities, load the dataset object and assign it to a variable, like this:

<code>en = cptac.Endometrial()</code>

As the dataset loads, it will print basic instructions for using it, tell you the data version, and update you on the progress of the data loading until it's finished.

In [1]:
import pandas as pd
import numpy as np
import cptac
en = cptac.Endometrial()

Welcome to the cptac data service package. To view available datasets,
enter cptac.list_data(). To access a specific data set, load the
dataset and assign it to a variable using 'cptac.NameOfDataset()',
e.g. 'en = cptac.Endometrial()'

******
Version: 0.4.3
******
You have loaded the cptac endometrial dataset. To view available
dataframes, call the dataset's list_data() method. To view available
functions for accessing and manipulating the dataframes, call its
list_api() method.
endometrial data version: 2.1

Loading acetylproteomics data...
Loading clinical data...
Loading CNA data...
Loading definitions data...
Loading miRNA data...
Loading phosphoproteomics_gene data...
Loading phosphoproteomics_site data...
Loading proteomics data...
Loading somatic data...
Loading somatic_binary data...
Loading transcriptomics_circular data...
Loading transcriptomics_linear data...

 ******PLEASE READ******
WARNING: This data is under a publication embargo until July 1, 2019.
CPTAC is a community resource project and data are made available
rapidly after generation for community research use. The embargo
allows exploring and utilizing the data, but the data may not be in a
publication until July 1, 2019. Please see
https://proteomics.cancer.gov/data-portal/about/data-use-agreement or
enter cptac.embargo() to open the webpage for more details.

## Can I use multiple datasets at the same time?

You can have multiple datasets loaded at the same time. As you load each dataset, it will display its individual loading information.

In [2]:
ov = cptac.Ovarian()
co = cptac.Colon()

AttributeError: module 'cptac' has no attribute 'Ovarian'

<b>NOTE: When using multiple data sets, be sure to check that each function used matches the expected data set, as each data set uses the same API.</b> For example, the command for retrieving clinical data is <code>get_clinical()</code> for all data sets, so make sure not to retrieve ovarian clinical data <code>ov.get_clinical()</code> when the intent was to retrieve endometrial clinical data <code>en.get_clinical()</code>.

## How do I see what data is available?

Each cancer type contained in the CPTAC package has a slightly different set of data. The data for a particular cancer type can be viewed by utilizing the <code>list_data()</code> function. This will display the name and dimensions of the data.

In [3]:
en.list_data()

Below are the available endometrial data frames contained in this package:
	 clinical
	 	 Dimensions: (144, 26)
	 derived_molecular
	 	 Dimensions: (144, 144)
	 acetylproteomics
	 	 Dimensions: (144, 10862)
	 proteomics
	 	 Dimensions: (144, 10999)
	 transcriptomics_linear
	 	 Dimensions: (109, 28057)
	 transcriptomics_circular
	 	 Dimensions: (109, 4945)
	 miRNA
	 	 Dimensions: (99, 2337)
	 cna
	 	 Dimensions: (95, 28057)
	 phosphoproteomics_site
	 	 Dimensions: (144, 73212)
	 phosphoproteomics_gene
	 	 Dimensions: (144, 8466)
	 somatic binary
	 	 Dimensions: (95, 51559)
	 somatic MAF
	 	 Dimensions: (52560, 5)

Data can then be accessed by using a "get" function for that particular dataframe. As the API for some data is different, consult the <a href="https://github.com/PayneLab/CPTAC/blob/master/doc/help.txt">CPTAC github help page</a> or enter <code>list_api</code> for documentation.

In [4]:
proteomics = en.get_proteomics()
proteomics.head()

idx,A1BG,A2M,A2ML1,A4GALT,AAAS,AACS,AADAT,AAED1,AAGAB,AAK1,...,ZSWIM8,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
S001,-1.180,-0.8630,-0.802,0.222,0.2560,0.6650,1.2800,-0.3390,0.412,-0.664,...,-0.08770,NaN,0.0229,0.1090,NaN,-0.332,-0.43300,-1.020,-0.1230,-0.0859
S002,-0.685,-1.0700,-0.684,0.984,0.1350,0.3340,1.3000,0.1390,1.330,-0.367,...,-0.03560,NaN,0.3630,1.0700,0.737,-0.564,-0.00461,-1.130,-0.0757,-0.4730
S003,-0.528,-1.3200,0.435,NaN,-0.2400,1.0400,-0.0213,-0.0479,0.419,-0.500,...,0.00112,-0.1450,0.0105,-0.1160,NaN,0.151,-0.07400,-0.540,0.3200,-0.4190
S005,-1.670,-1.1900,-0.443,0.243,-0.0993,0.7570,0.7400,-0.9290,0.229,-0.223,...,0.07250,-0.0552,-0.0714,0.0933,0.156,-0.398,-0.07520,-0.797,-0.0301,-0.4670
S006,-0.374,-0.0206,-0.537,0.311,0.3750,0.0131,-1.1000,NaN,0.565,-0.101,...,-0.17600,NaN,-1.2200,-0.5620,0.937,-0.646,0.20700,-1.850,-0.1760,0.0513

## How do I access specific columns in a dataframe?

Many times you will want to get a feel for what data is contained in the dataframe. For instance, we want to know what kind of proteins are listed in our proteomics data. These proteins are the columns of the dataframe, which can be accessed in a few different ways.

A list of column names (or a list of protein names, in the case of the proteomics data) can be viewed by appending <code>.columns</code> to the end of a dataframe variable.

In [5]:
proteomics.columns

Index(['A1BG', 'A2M', 'A2ML1', 'A4GALT', 'AAAS', 'AACS', 'AADAT', 'AAED1',
       'AAGAB', 'AAK1',
       ...
       'ZSWIM8', 'ZSWIM9', 'ZW10', 'ZWILCH', 'ZWINT', 'ZXDC', 'ZYG11B', 'ZYX',
       'ZZEF1', 'ZZZ3'],
      dtype='object', name='idx', length=10999)

A specific column (or specific protein information, in the case of the proteomics data) can be accessed by entering the name of a column after the dataframe variable by either:

<code>proteomics["A1BG"]</code>

or

<code>proteomics.A1BG</code>

both of which returns a <a href="https://www.geeksforgeeks.org/python-pandas-series/">pandas series</a>. However, the first method is useful for handing a variable containing the name of the column as a string.

In [6]:
protein = "A1BG"
proteomics[protein]

S001   -1.1800
S002   -0.6850
S003   -0.5280
S005   -1.6700
S006   -0.3740
S007   -1.0800
S008   -1.3200
S009   -0.4670
S010   -1.1200
S011   -0.7160
S012   -0.2320
S014   -0.2690
S016   -0.7820
S017   -1.3400
S018   -0.9240
S019    0.1500
S020    0.1810
S021   -0.5930
S022   -0.9580
S023   -0.4540
S024   -0.2400
S025   -0.8310
S026   -0.3270
S027    0.0499
S028    0.7730
S029    0.5510
S030   -0.2130
S031   -0.7060
S032   -0.6980
S033   -1.1900
         ...
S124    1.4700
S125    0.5260
S126    1.6900
S127    2.1400
S128    1.4000
S129    1.5300
S130    1.4300
S131    0.6920
S132    0.9160
S133    1.0600
S134    1.4100
S135    2.1200
S136    0.7790
S137   -0.0812
S138    0.5200
S139    0.7500
S140   -0.0014
S141    0.2980
S142    0.1110
S143    0.9280
S144    0.8990
S145    1.6000
S146    1.3200
S147    1.4400
S148    1.4600
S149    0.6500
S150    0.4580
S151    1.1500
S152    0.5470
S153    0.9400
Name: A1BG, Length: 144, dtype: float64

Additionally, the <code>dataframe["col_name"]</code> format allows for selection of multiple columns by entering a list.

In [7]:
proteins = ["A1BG","PTEN","TP53"]
proteomics[proteins]

idx     A1BG    PTEN      TP53
S001 -1.1800 -0.5260  0.295000
S002 -0.6850 -0.8300  0.277000
S003 -0.5280 -0.9410 -0.871000
S005 -1.6700  0.7300 -0.343000
S006 -0.3740 -0.3790  3.010000
S007 -1.0800  0.0293 -0.148000
S008 -1.3200 -1.0100  0.441000
S009 -0.4670  0.1300 -1.220000
S010 -1.1200  0.3900 -0.082500
S011 -0.7160  0.0301 -0.181000
S012 -0.2320 -1.5900 -0.000425
S014 -0.2690 -1.0400 -0.203000
S016 -0.7820 -0.5390  2.120000
S017 -1.3400  0.4570 -0.243000
S018 -0.9240  0.1090 -0.000950
S019  0.1500 -1.7000  0.021300
S020  0.1810  0.6170  0.353000
S021 -0.5930 -1.0500 -0.403000
S022 -0.9580 -1.2100 -0.154000
S023 -0.4540 -1.1800 -0.056600
S024 -0.2400 -0.2120 -0.280000
S025 -0.8310 -1.1100 -0.519000
S026 -0.3270 -0.2190 -0.455000
S027  0.0499 -0.4740  0.098000
S028  0.7730  0.5420 -0.209000
S029  0.5510  0.2910 -0.081900
S030 -0.2130 -0.7000  0.709000
S031 -0.7060 -1.2400  1.560000
S032 -0.6980 -0.5900 -0.033800
S033 -1.1900 -1.2400 -0.433000
...      ...     ...       ...
S124  1.4700  0.4500 -0.237000
S125  0.5260  0.0310 -0.729000
S126  1.6900  0.6160  0.112000
S127  2.1400  1.0800       NaN
S128  1.4000  0.2480       NaN
S129  1.5300  0.7030 -0.078800
S130  1.4300  0.1580 -0.688000
S131  0.6920  0.5210 -0.747000
S132  0.9160  0.1120 -0.333000
S133  1.0600  0.5350 -0.174000
S134  1.4100  0.4990 -1.010000
S135  2.1200  1.0100  0.024300
S136  0.7790  0.6860 -1.080000
S137 -0.0812  0.3850 -0.256000
S138  0.5200  0.4740  0.105000
S139  0.7500  0.3340 -0.819000
S140 -0.0014  0.6160 -0.530000
S141  0.2980  0.6190 -0.899000
S142  0.1110  0.4600 -0.809000
S143  0.9280  0.5500 -0.124000
S144  0.8990  0.4520  0.071900
S145  1.6000  0.7330       NaN
S146  1.3200  0.4590       NaN
S147  1.4400  0.7780       NaN
S148  1.4600  0.8660       NaN
S149  0.6500  0.3570       NaN
S150  0.4580  0.4690       NaN
S151  1.1500  0.4240       NaN
S152  0.5470  0.2900       NaN
S153  0.9400  0.5300       NaN

[144 rows x 3 columns]

## How do I access specific rows in a dataframe?

Specific rows in a dataframe (or specific samples, in the case of the CPTAC data) can be accessed by appending either <code>.iloc</code> (by row number) or <code>.loc</code> (by row name), both returning a pandas series if one row is selected.

In [8]:
proteomics.iloc[0:5]

idx,A1BG,A2M,A2ML1,A4GALT,AAAS,AACS,AADAT,AAED1,AAGAB,AAK1,...,ZSWIM8,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
S001,-1.180,-0.8630,-0.802,0.222,0.2560,0.6650,1.2800,-0.3390,0.412,-0.664,...,-0.08770,NaN,0.0229,0.1090,NaN,-0.332,-0.43300,-1.020,-0.1230,-0.0859
S002,-0.685,-1.0700,-0.684,0.984,0.1350,0.3340,1.3000,0.1390,1.330,-0.367,...,-0.03560,NaN,0.3630,1.0700,0.737,-0.564,-0.00461,-1.130,-0.0757,-0.4730
S003,-0.528,-1.3200,0.435,NaN,-0.2400,1.0400,-0.0213,-0.0479,0.419,-0.500,...,0.00112,-0.1450,0.0105,-0.1160,NaN,0.151,-0.07400,-0.540,0.3200,-0.4190
S005,-1.670,-1.1900,-0.443,0.243,-0.0993,0.7570,0.7400,-0.9290,0.229,-0.223,...,0.07250,-0.0552,-0.0714,0.0933,0.156,-0.398,-0.07520,-0.797,-0.0301,-0.4670
S006,-0.374,-0.0206,-0.537,0.311,0.3750,0.0131,-1.1000,NaN,0.565,-0.101,...,-0.17600,NaN,-1.2200,-0.5620,0.937,-0.646,0.20700,-1.850,-0.1760,0.0513

In [9]:
proteomics.loc["S001"]

idx
A1BG       -1.1800
A2M        -0.8630
A2ML1      -0.8020
A4GALT      0.2220
AAAS        0.2560
AACS        0.6650
AADAT       1.2800
AAED1      -0.3390
AAGAB       0.4120
AAK1       -0.6640
AAMDC       0.2280
AAMP       -0.4560
AAR2       -0.2560
AARS        0.0419
AARS2       0.8570
AARSD1     -0.1450
AASDHPPT   -0.1360
AASS       -0.3040
AATF        0.2000
ABAT        0.0264
ABCA8      -0.3990
ABCB1      -0.4840
ABCB10      0.7960
ABCB6       0.3770
ABCB7       1.1900
ABCB8       0.8300
ABCC1       0.8140
ABCC10     -0.0376
ABCC3       0.4350
ABCC4       0.9160
             ...
ZNF852         NaN
ZNF888         NaN
ZNFX1       0.2090
ZNHIT1      0.3060
ZNHIT2      0.0774
ZNHIT3      0.4890
ZNHIT6      0.1430
ZNRD1      -0.0326
ZNRF1       0.1830
ZNRF2      -0.1920
ZPR1       -0.0337
ZRANB2     -0.3810
ZRSR2       0.1940
ZSCAN12        NaN
ZSCAN18    -0.6500
ZSCAN2         NaN
ZSCAN21     0.1310
ZSCAN26    -0.1660
ZSCAN30        NaN
ZSCAN31    -0.1020
ZSWIM8     -0.0877
ZSWIM9         NaN
ZW10        0.0229
ZWILCH      0.1090
ZWINT          NaN
ZXDC       -0.3320
ZYG11B     -0.4330
ZYX        -1.0200
ZZEF1      -0.1230
ZZZ3       -0.0859
Name: S001, Length: 10999, dtype: float64

## How do I access specific rows and columns?

In addition to selecting specific rows, the <code>.loc</code> can be used to select a subset of rows and columns using lists.

In [10]:
samples = ["S001","S003","S016"]
proteins = ["A1BG","PTEN","TP53"]
proteomics.loc[samples,proteins]

idx    A1BG   PTEN   TP53
S001 -1.180 -0.526  0.295
S003 -0.528 -0.941 -0.871
S016 -0.782 -0.539  2.120

## How can I search using conditional statements?

There are a variety of ways to use boolean statements to traverse a dataframe. A common way is to pass a boolean statement involving a selected column or row (which returns a series of true/false values) to the frequently utilized <code>.loc</code> function. For example, if we want to see information for samples that have a positive protein expression level for the protein A1BG, we would pass the <code>.loc</code> function the boolean statement asking for rows containing values above zero for the A1BG column.

<code>.loc</code> has many functionalities. For a full list, see pandas documentation for <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html">.loc</a> and <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html">indexing and slicing</a>.

In [11]:
proteomics.loc[proteomics["A1BG"] > 0].head()

idx,A1BG,A2M,A2ML1,A4GALT,AAAS,AACS,AADAT,AAED1,AAGAB,AAK1,...,ZSWIM8,ZSWIM9,ZW10,ZWILCH,ZWINT,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
S019,0.1500,0.9870,5.070,0.302,-0.1690,0.3980,NaN,-0.2740,1.090,0.147,...,0.34800,-0.484,0.1420,0.250,-0.14200,0.077,-0.1570,-0.87200,-0.00663,-0.0175
S020,0.1810,-0.2830,0.689,0.104,-0.1300,-0.0683,-0.376,-0.0838,0.160,0.277,...,0.22800,NaN,0.0206,-0.970,NaN,-0.452,0.1720,0.62600,0.34200,-0.2030
S027,0.0499,0.0199,-0.125,0.477,-0.2520,0.8380,-0.100,-0.8510,0.351,-0.582,...,0.04910,-0.479,0.0548,0.933,0.00967,-1.140,-0.5410,-0.83800,0.02380,-0.0602
S028,0.7730,0.5460,-0.603,NaN,0.0555,-0.6390,-0.390,0.4670,-0.366,0.427,...,-0.00835,0.119,-0.2960,-0.205,-0.07650,0.228,0.2370,1.05000,0.01850,0.5870
S029,0.5510,0.2030,NaN,NaN,-0.4930,0.2110,1.060,-0.2800,0.207,0.334,...,0.30000,NaN,0.1420,-0.549,NaN,-0.390,-0.0972,0.00108,0.20000,-0.1940

Viewing a different example, we can separate clinical information for samples that are serous vs endometrioid by looking at the "Histologic_type" column.

In [12]:
clinical = en.get_clinical()
endometrioid_clinical = clinical.loc[clinical["Histologic_type"] == "Endometrioid"]
serous_clinical = clinical.loc[clinical["Histologic_type"] == "Serous"]

In [13]:
endometrioid_clinical.head()

,Proteomics_Participant_ID,Proteomics_Tumor_Normal,Country,Histologic_Grade_FIGO,Myometrial_invasion_Specify,Histologic_type,Treatment_naive,Tumor_purity,Path_Stage_Primary_Tumor-pT,Path_Stage_Reg_Lymph_Nodes-pN,...,Age,Diabetes,Race,Ethnicity,Gender,Tumor_Site,Tumor_Site_Other,Tumor_Focality,Tumor_Size_cm,Num_full_term_pregnancies
idx,,,,,,,,,,,,,,,,,,,,,
S001,C3L-00006,Tumor,United States,FIGO grade 1,under 50 %,Endometrioid,YES,Normal,pT1a (FIGO IA),pN0,...,64.0,No,White,Not-Hispanic or Latino,Female,Anterior endometrium,NaN,Unifocal,2.9,1
S002,C3L-00008,Tumor,United States,FIGO grade 1,under 50 %,Endometrioid,YES,Normal,pT1a (FIGO IA),pNX,...,58.0,No,White,Not-Hispanic or Latino,Female,Posterior endometrium,NaN,Unifocal,3.5,1
S003,C3L-00032,Tumor,United States,FIGO grade 2,under 50 %,Endometrioid,YES,Normal,pT1a (FIGO IA),pN0,...,50.0,Yes,White,Not-Hispanic or Latino,Female,"Other, specify",Anterior and Posterior endometrium,Unifocal,4.5,4 or more
S005,C3L-00090,Tumor,United States,FIGO grade 2,under 50 %,Endometrioid,YES,Normal,pT1a (FIGO IA),pNX,...,75.0,No,White,Not-Hispanic or Latino,Female,"Other, specify",Anterior and Posterior endometrium,Unifocal,3.5,4 or more
S007,C3L-00136,Tumor,United States,FIGO grade 1,under 50 %,Endometrioid,YES,Normal,pT1a (FIGO IA),pNX,...,50.0,No,White,Not-Hispanic or Latino,Female,"Other, specify",Anterior and Posterior endometrium,Unifocal,4.5,3

In [14]:
serous_clinical.head()

,Proteomics_Participant_ID,Proteomics_Tumor_Normal,Country,Histologic_Grade_FIGO,Myometrial_invasion_Specify,Histologic_type,Treatment_naive,Tumor_purity,Path_Stage_Primary_Tumor-pT,Path_Stage_Reg_Lymph_Nodes-pN,...,Age,Diabetes,Race,Ethnicity,Gender,Tumor_Site,Tumor_Site_Other,Tumor_Focality,Tumor_Size_cm,Num_full_term_pregnancies
idx,,,,,,,,,,,,,,,,,,,,,
S006,C3L-00098,Tumor,United States,NaN,under 50 %,Serous,YES,Normal,pT1a (FIGO IA),pNX,...,63.0,No,White,Not-Hispanic or Latino,Female,"Other, specify",Anterior and Posterior endometrium,Unifocal,6.0,2
S009,C3L-00139,Tumor,United States,NaN,50 % or more,Serous,YES,Normal,pT3a (FIGO IIIA),pNX,...,83.0,No,White,Not-Hispanic or Latino,Female,"Other, specify",Both anterior and posterior,Unifocal,4.0,4 or more
S016,C3L-00358,Tumor,United States,NaN,50 % or more,Serous,YES,Normal,pT1b (FIGO IB),pNX,...,90.0,No,White,Not-Hispanic or Latino,Female,"Other, specify",Both anterior and posterior endometrium,Unifocal,4.5,Unknown
S041,C3L-00963,Tumor,Other_specify,NaN,50 % or more,Serous,YES,Normal,pT1b (FIGO IB),pNX,...,59.0,Yes,White,Not reported,Female,"Other, specify",along anterior and posterior surface,Unifocal,2.6,1
S042,C3L-01246,Tumor,Other_specify,NaN,under 50 %,Serous,YES,Normal,pT1a (FIGO IA),pN0,...,62.0,No,White,Not reported,Female,Posterior endometrium,NaN,Unifocal,2.3,1